@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Playfair+Display&display=swap');

:root {
  --ff-body: 'Playfair Display', serif;
  --ff-second: 'Montserrat', sans-serif;

  --clr-dark: #1d1b26;
  --clr-accent: #ebff00;
}
/* html {
  font-size: 62.5%;
} */

body {
  color: var(--clr-dark);
  font-family: var(--ff-body);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.max-width {
  width: 95vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
}

header .logo {
  width: 4rem;
}

.header-nav .nav-btn {
  height: 3rem;
  width: 3rem;
  background-color: var(--clr-accent);
  border: none;
  cursor: pointer;
}

.header-nav .nav-btn .line {
  display: block;
  height: 0.1rem;
  width: 60%;
  background-color: var(--clr-dark);
  position: relative;
  left: 40%;
  transform: translateX(-50%);
}
.line::before {
  content: '';
  height: 100%;
  width: 130%;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  background-color: inherit;
}

.line::after {
  content: '';
  height: 100%;
  width: 130%;
  position: absolute;
  top: 0.5rem;
  left: 0;
  background-color: inherit;
}

.header-nav .contact-btn {
  display: none;
}

.header-nav .sm-screen-nav {
  display: none;
}
