@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --ff-body: 'Playfair Display', serif;
  --ff-second: 'Montserrat', sans-serif;

  --clr-dark: #1d1b26;
  --clr-bg: #f5f5f5;
  --clr-accent: #ebff00;
}

body {
  min-height: 100vh;
  color: var(--clr-dark);
  font-family: var(--ff-body);
  line-height: 1.5;
}

section {
  padding: 3rem 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.max-width {
  width: 95vw;
  margin: 0 auto;
}

/* Main */

main {
  margin-top: 100px;
}

.section-intro {
  color: #999;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section-title {
  font-size: 2rem;
}

.section-info {
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-family: var(--ff-second);
  line-height: 1.8;
  font-weight: light;
}

.img-container {
  display: none;
}

/* contact form */

.contact-me {
  height: 100%;
  color: var(--clr-bg);
  color: var(--clr-dark);
  background-color: var(--clr-dark);
  background-color: var(--clr-bg);
  padding: 2rem;
  text-transform: capitalize;
  align-content: center;
}

.contact-me h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

form {
  display: grid;
  grid-template-areas:
    'fname'
    'lname'
    'email'
    'text'
    'btn';
  margin-inline: auto;
  width: 80vw;
  gap: 20px;
}

input,
textarea {
  color: var(--clr-dark);
  background-color: inherit;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--clr-dark);
  padding: 10px 0;
  letter-spacing: 2px;
}

.fname {
  grid-area: fname;
}

.lname {
  grid-area: lname;
}
input[type='email'] {
  grid-area: email;
}

textarea {
  grid-area: text;
}

button[type='submit'] {
  grid-area: btn;
  width: 7rem;
  justify-self: center;
}


@media screen and (min-width: 700px) {
  form {
    grid-template-areas:
      'fname lname'
      'email email'
      'text text'
      'btn btn';
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .img-container {
    display: block;
    width: 25rem;
  }
  .grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
