footer {
  background-color: var(--clr-dark);
  height: 150px;
  display: grid;
  place-items: center;
}

.social-icons-container {
  color: var(--clr-bg);
  text-transform: uppercase;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}
.social-icons {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}