footer {
  background-color: var(--clr-dark);
  display: grid;
  place-items: center;
}

.social-icons-container {
  color: var(--clr-bg);
  text-transform: uppercase;
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
}
.social-icons {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}
.copy-right {
  margin-top: 0.5rem;
  color: var(--clr-bg);
}