@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --ff-body: 'Playfair Display', serif;
  --ff-second: 'Montserrat', sans-serif;

  --clr-dark: #1d1b26;
  --clr-bg: #f5f5f5;
  --clr-accent: #ebff00;
  --clr-font-grey: #999;
}
html {
  scroll-behavior: auto;
}

body {
  height: 100vh;
  color: var(--clr-dark);
  font-family: var(--ff-body);
  overflow: hidden;
}

h1 {
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.max-width {
  width: 95vw;
  margin: 0 auto;
}

/* Main starts here */

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main-content {
  width: 90vw;
  display: grid;
  grid-template-areas:
    'left'
    'icons';
  grid-template-rows: auto 1fr;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding-top: 2rem;
  margin: 0 auto;
}

.intro-content {
  grid-area: left;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  line-height: 1.5;
  letter-spacing: 2px;

  animation-name: fadeIdIntro;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes fadeIdIntro {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

.about-me-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.about-me-btn i {
  background-color: var(--clr-accent);
  padding: 0.3rem 0.55rem;
  font-size: 0.9rem;
}

.about-me-btn p {
  font-weight: 700;
}

.social-icons-container {
  grid-area: icons;
  width: 50%;
  max-width: 12rem;
  margin-top: 2rem;
}

.social-icons-container {
  animation-name: fadeIdSocial;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIdSocial {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translate(0);
  }
}

.social-icons-container p {
  color: #999;
  text-transform: uppercase;
}

.social-icons {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  animation-name: fadeIdMenu;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes fadeIdMenu {
  from {
    transform: translate(200%);
  }
  to {
    transform: translate(0);
  }
}

.menu-container p {
  color: var(--clr-font-grey);
  text-transform: uppercase;
  display: none;
}

.lg-screen-nav {
  display: none;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
  gap: 2.5rem;
  justify-items: right;
}

.lg-screen-nav a:hover {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-name: fadeOut;
}

.lg-screen-nav button {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.lg-screen-nav button:hover {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    background-color: rgba(235, 255, 0, 1);
  }
  20% {
    background-color: rgba(235, 255, 0, 0.8);
  }
  40% {
    background-color: rgba(235, 255, 0, 0.6);
  }
  60% {
    background-color: rgba(235, 255, 0, 0.4);
  }
  80% {
    background-color: rgba(235, 255, 0, 0.2);
  }
  100% {
    background-color: rgba(235, 255, 0, 0);
  }
}

.main-right {
  background-color: var(--clr-bg);
  position: relative;
  z-index: -5;
}
.bg-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.main-right::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.589);
}

/* contact form */

.aside {
  height: 100%;
  color: var(--clr-bg);
  background-color: var(--clr-dark);
  padding: 2rem;
  text-transform: capitalize;
  display: none;
  align-content: center;
}

.aside h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.aside form {
  display: grid;
  grid-template-areas:
    'fname'
    'lname'
    'email'
    'text'
    'btn';
  margin-inline: auto;
  width: 80vw;
  gap: 20px;
}

.fname {
  grid-area: fname;
}

.aside input,
.aside textarea {
  color: var(--clr-bg);
  background-color: inherit;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  padding: 10px 0;
  letter-spacing: 2px;
}

.lname {
  grid-area: lname;
}
.aside input[type='email'] {
  grid-area: email;
}

.aside textarea {
  grid-area: text;
}

.aside button[type='submit'] {
  grid-area: btn;
  width: 7rem;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  .aside form {
    grid-template-areas:
      'fname lname'
      'email email'
      'text text'
      'btn btn';
    width: 60vw;
  }
}

@media screen and (min-width: 900px) {
  .main-content {
    height: calc(100% - 150px);
    width: 90vw;
    max-width: 1600px;
    display: grid;
    grid-template-areas:
      'left right'
      'icons right';
    grid-template-columns: 1fr 1fr;
    top: 120px;
    align-items: center;
  }

  .social-icons-container p {
    font-size: 1.5rem;
  }

  .social-icons {
    font-size: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  .menu-container {
    height: 60vh;
    align-self: center;
    grid-area: right;
    justify-self: right;
    text-align: right;
    background: transparent;
  }
  .menu-container p {
    display: block;
    font-size: 1.5rem;
  }
  .lg-screen-nav {
    display: grid;
  }
}
