@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --ff-body: 'Playfair Display', serif;
  --ff-second: 'Montserrat', sans-serif;

  --clr-dark: #1d1b26;
  --clr-bg: #f5f5f5;
  --clr-accent: #ebff00;
  --clr-font-grey: #999;
}
html {
  scroll-behavior: auto;
}

body {
  height: 100vh;
  color: var(--clr-dark);
  font-family: var(--ff-body);
  overflow: hidden;
}

h1 {
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.max-width {
  width: 95vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
  z-index: 10;
}

header .logo {
  width: 4rem;
}

.nav-btn {
  height: 3rem;
  width: 3rem;
  background-color: var(--clr-accent);
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

.nav-btn .line {
  display: block;
  height: 0.1rem;
  background-color: var(--clr-dark);
  transition: all 100ms ease-in;
}

.line-middle {
  width: 60%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.line-top,
.line-bottom {
  width: 80%;
  margin-inline: auto;
}

.line-top-rotate {
  transform: rotate(45deg);
  transform-origin: top;
}

.line-bottom-rotate {
  transform: rotate(-45deg);
  transform-origin: bottom;
}
.line-middle-hide {
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav .contact-btn-container {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-accent);
  font-size: 0.9rem;
  height: 5rem;
  width: 5rem;
}

.header-nav .contact-btn-container .contact-btn {
  background-color: transparent;
  border: 0;
  display: grid;
  gap: 3px;
}
.header-nav .contact-btn-container .contact-btn div > * {
  display: inline-block;
}

.header-nav .contact-btn-container .contact-btn div span:nth-child(1) {
  text-transform: capitalize;
}

.header-nav .contact-btn-container .contact-btn div span:nth-child(odd) {
  transition: all 0.3s ease-in-out;
}
.header-nav .contact-btn-container:hover .contact-btn div span:nth-child(odd) {
  transform: translateY(-5px);
}

.sm-screen-nav {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--clr-bg);
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bolder;
  transform: translateY(-100%);
  transition: all 300ms ease-in;
}

.sm-screen-nav a:last-child {
  background-color: var(--clr-dark);
  color: var(--clr-bg);
  padding: 0.5rem;
}

.show-nav-menu {
  transform: translateY(0);
}

/* Main starts here */

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main-content {
  width: 90vw;
  display: grid;
  grid-template-areas:
    'left'
    'icons';
  grid-template-rows: auto 1fr;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding-top: 2rem;
  margin: 0 auto;
}

.intro-content {
  grid-area: left;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  line-height: 1.5;
  letter-spacing: 2px;

  animation-name: fadeIdIntro;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes fadeIdIntro {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

.about-me-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.about-me-btn i {
  background-color: var(--clr-accent);
  padding: 0.3rem 0.55rem;
  font-size: 0.9rem;
}

.about-me-btn p {
  font-weight: 700;
}

.social-icons-container {
  grid-area: icons;
  width: 50%;
  max-width: 12rem;
  margin-top: 2rem;
}

.social-icons-container {
  animation-name: fadeIdSocial;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIdSocial {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translate(0);
  }
}



.social-icons-container p {
  color: #999;
  text-transform: uppercase;
}

.social-icons {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  animation-name: fadeIdMenu;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes fadeIdMenu {
  from {
    transform: translate(200%);
  }
  to {
    transform: translate(0);
  }
}

.menu-container p {
  color: var(--clr-font-grey);
  text-transform: uppercase;
  display: none;
}

.lg-screen-nav {
  display: none;
  flex-direction: column;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
  gap: 2.5rem;
}

.lg-screen-nav a:hover {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    background-color: rgba(235, 255, 0, 1);
  }
  20% {
    background-color: rgba(235, 255, 0, 0.8);
  }
  40% {
    background-color: rgba(235, 255, 0, 0.6);
  }
  60% {
    background-color: rgba(235, 255, 0, 0.4);
  }
  80% {
    background-color: rgba(235, 255, 0, 0.2);
  }
  100% {
    background-color: rgba(235, 255, 0, 0);
  }
}

.main-right {
  background-color: var(--clr-bg);
  position: relative;
  z-index: -5;
}

.bg-img-services {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.3))
  ),
  url(/assets/images/services.jpg);

background-size: cover;
background-repeat: no-repeat;
background-position: auto;
position: absolute;
top: 0;
left: 0;
/* display: none; */
}

/* .bg-img-reviews {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 252, 252, 0.4)),
    to(rgba(255, 255, 255, 0.4)))
  ,
  url(/assets/images/stil-N9uOrBICcjY-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: absolute;
top: 0;
left: 0;
} */

/* .bg-img-contact {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/assets/images/istockphoto-1063345972-2048x2048.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
} */

/* contact form */

.aside {
  height: 100%;
  color: var(--clr-bg);
  background-color: var(--clr-dark);
  padding: 2rem;
  text-transform: capitalize;
  display: none;
  align-content: center;
}

.aside h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

form {
  display: grid;
  grid-template-areas:
    'fname'
    'lname'
    'email'
    'text'
    'btn';
  margin-inline: auto;
  width: 80vw;
  gap: 20px;
}

.fname {
  grid-area: fname;
}

input,
textarea {
  color: var(--clr-bg);
  background-color: inherit;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  padding: 10px 0;
  letter-spacing: 2px;
}

.lname {
  grid-area: lname;
}
input[type='email'] {
  grid-area: email;
}

textarea {
  grid-area: text;
}

button[type='submit'] {
  grid-area: btn;
  width: 7rem;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  form {
    grid-template-areas:
      'fname lname'
      'email email'
      'text text'
      'btn btn';
    width: 60vw;
  }
}

@media screen and (min-width: 900px) {
  header .logo {
    width: 6rem;
  }
  .nav-btn {
    display: none;
  }

  .header-nav .contact-btn-container {
    display: flex;
  }

  .main-content {
    height: calc(100% - 150px);
    width: 90vw;
    max-width: 1600px;
    display: grid;
    grid-template-areas:
      'left right'
      'icons right';
    grid-template-columns: 1fr 1fr;
    top: 120px;
    align-items: center;
  }

  .social-icons-container p {
    font-size: 1.5rem;
  }

  .social-icons {
    font-size: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  .menu-container {
    height: 60vh;
    align-self: center;
    grid-area: right;
    justify-self: right;
    text-align: right;
    background: transparent;
  }
  .menu-container p {
    display: block;
    font-size: 1.5rem;
  }
  .lg-screen-nav {
    display: flex;
  }
}
